<odoo>
    <data>
        <!-- Top menu item -->    
        <!-- <menuitem name="Master" id="siswa_ocb11.master_menu"/> -->
        <!-- <menuitem name="Kesiswaan" id="siswa_ocb11.kesiswaan_menu"/> -->
        
        <!-- menu categories -->    
        <menuitem name="Keuangan" id="siswa_keu_ocb11.submenu_keuangan" parent="siswa_ocb11.master_menu" sequence="2" />
        
        <!-- actions -->    
        <menuitem name="Biaya" id="siswa_keu_ocb11.menu_biaya" parent="siswa_keu_ocb11.submenu_keuangan" action="siswa_keu_ocb11.biaya_action_window" sequence="1"/>
        <!-- <menuitem name="Assign Biaya" id="siswa_keu_ocb11.menu_assign_biaya" parent="siswa_keu_ocb11.submenu_keuangan" action="siswa_keu_ocb11.assign_biaya_action_window" sequence="1"/> -->
    </data>
</odoo>