<odoo>
    <data>
        <!-- Top menu item -->    
        <!-- <menuitem name="Master" id="siswa_ocb11.master_menu"/> -->
        <menuitem name="Keuangan" id="siswa_ocb11.keuangan_menu"/>
        
        <!-- menu categories -->    
        <menuitem name="Master" id="siswa_keu_ocb11.submenu_keuangan" parent="siswa_ocb11.keuangan_menu" sequence="1" />
        <menuitem name="Keuangan" id="siswa_keu_ocb11.submenu_keuangan_keuangan" parent="siswa_ocb11.keuangan_menu" sequence="2" />
        <menuitem name="Operations" id="siswa_keu_ocb11.submenu_keuangan_operations" parent="siswa_ocb11.keuangan_menu" sequence="3" />
        <menuitem name="Reports" id="siswa_keu_ocb11.submenu_keuangan_reports" parent="siswa_ocb11.keuangan_menu" sequence="4" />
        
        <!-- actions master -->    
        <menuitem name="Biaya" id="siswa_keu_ocb11.menu_biaya" parent="siswa_keu_ocb11.submenu_keuangan" action="siswa_keu_ocb11.biaya_action_window" sequence="1"/>
        <!-- actions keuangan -->    
        <menuitem name="Siswa" id="siswa_keu_ocb11.menu_keuangan_siswa" parent="siswa_keu_ocb11.submenu_keuangan_keuangan" action="siswa_keu_ocb11.wizard_keuangan_siswa" sequence="1"/>
        <menuitem name="Daftar Tagihan" id="siswa_keu_ocb11.menu_data_keuangan_siswa" parent="siswa_keu_ocb11.submenu_keuangan_keuangan" action="siswa_keu_ocb11.data_keuangan_siswa_action" sequence="2"/>
        <!-- actions operations -->            
        <menuitem name="Assign Biaya" id="siswa_keu_ocb11.menu_tahunajaran_jenjang" parent="siswa_keu_ocb11.submenu_keuangan_operations" action="siswa_keu_ocb11.tahunajaran__jenjang_action_window" sequence="1"/>
        <menuitem name="Pembayaran" id="siswa_keu_ocb11.menu_pembayaran" parent="siswa_keu_ocb11.submenu_keuangan_operations" action="siswa_keu_ocb11.pembayaran_action_window" sequence="2"/>
        <menuitem name="Kas" id="siswa_keu_ocb11.menu_kas" parent="siswa_keu_ocb11.submenu_keuangan_operations" action="siswa_keu_ocb11.kas_action_window" sequence="3"/>
        <!-- actions reports -->            
        <menuitem name="Keuangan" id="siswa_keu_ocb11.menu_report_kas" parent="siswa_keu_ocb11.submenu_keuangan_reports" action="siswa_keu_ocb11.wizard_report_keuangan_action" sequence="1"/>
        <menuitem name="Rekapitulasi" id="siswa_keu_ocb11.menu_rekapitulasi_kas" parent="siswa_keu_ocb11.submenu_keuangan_reports" action="siswa_keu_ocb11.wizard_rekap_kas_action" sequence="2"/>
        <!-- <menuitem name="Rekapitulasi Kas" id="siswa_keu_ocb11.menu_report_rekap_kas" parent="siswa_keu_ocb11.submenu_keuangan_reports" action="siswa_keu_ocb11.wizard_report_kas" sequence="1"/> -->
        
    </data>
</odoo>